@media (max-width: 1000px) {
    .container2 {
        flex-direction: column;
        justify-content: center;
    }
    .s-1 {
        max-width: 100%;
    }
    .s-2 {
        max-width: 100%;
    }
    .btn button {
        width: 230px;
    
    }
    nav {
        display: none;
    }
    .bar {
        display: block;
        display: flex;
    }
    .first-block {
        justify-content: space-around;
    }
    .ez3 {
        font-size: 40px;
    }
    .wraper2 {
        flex-direction: column;
        height: auto;
    }
    .img1, .img2, .img3 {
        width: 100%;
        height: 800px;
    }
    .mgi {
        width: 100%;
        height: auto;
    }
    .container2 {
        align-items: center;
        height: auto;
    
    }
}
@media (max-width: 900px) {
    .img1, .img2, .img3 {
        height: 720px;
    }
}
@media (max-width:600px) {
    .img1, .img2, .img3 {
        height: 580px;
    }
}
@media (max-width:400px) {
    .img1, .img2, .img3 {
        height: 480px;
    }
    .first-block {
        justify-content: space-between;
    }
}