/* Header */
html {
    scroll-behavior: smooth;
}
.bg-header {
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.first-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 100px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all;
    background-color:rgba(34,34,34,0.25);
}
.second-block {
    text-align: center;
    padding-top: 150px;
}
.ez {
    font-size: 40px;
    color: antiquewhite;
    opacity: 50%;
    transition: 0.6s;
}
.ez:hover {
    opacity: 1;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 30px;
}
.nav-a {
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}
.nav-a:hover {
    color: lightgrey;
}
.nav-li:last-child {
    margin-right: 0;
}
.ez2 {
    font-size: 40px;
    color: #fff;
}
.h-p {
    font-size: 20px;
    color: #fff;
    margin-top: 18px;
}
.bar {
    display: none;
    color: #fff;
    font-size: 32px;
    opacity: 50%;
    transition: 0.6s;
    cursor: pointer;
}
.bar:hover {
    opacity: 1;
}
.btn button {
    margin-top: 60px;
    border-radius: 0;
    border: solid 1px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 2px;
    max-width: 270px;
    width: 100%;
    line-height: 60px;
    background:none;
    opacity: 50%;
    transition: 0.6s;
}
.but:hover {
    opacity: 1;
}

.container2 {
    max-width: 1070px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.wraper1 {
    text-align: center;
    margin-bottom: 40px;
}
.wraper1 h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.wraper1-child1 {
    display: flex;
    opacity: 60%;
    line-height: 25px;
}
.wraper2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.img1, .img2, .img3 {
    width: 320px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pp {
    margin-right: 30px;
}
.mgi {
    width: 320px;
    height: 220px;
}
.h2 {
    font-size: 18px;
    opacity: 80%;
    margin-top: 15px;
    margin-bottom: 12px;
}
.p2 {
    font-size: 16px;
    opacity: 70%;
    line-height: 25px;
}